{% load static %}
<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/app.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/loading.css' %}">
    {% block css %}{% endblock%}
</head>

<body style="background-color:#3386FF;">
    <div class="top-bar" style="background-color:grey;">
        <div class="top-bar-left">
          <ul class="menu">
            <li class="menu-text"></li>
            {% if request.user.is_authenticated %}

            {% else %}
            <li><a href="/login/">Login</a></li>
            {% endif %}
          </ul>
        </div>
        <div class="top-bar-right">
          <ul class="menu">
            <li><a href="/">Home</a></li>
            {% if request.user.is_authenticated %}
            {% if show_communities_tab == "True" %}
              <ul class="dropdown menu" data-dropdown-menu id="primary-menu">
                <li>
                  <a href="#">Communities</a>
                  <ul class="menu">
                      {% for c in follow_list %}
                        <a href="/cur_community/{{ c }}/">{{ c }}</a><br>
                      {% endfor %}
                  </ul>
                </li>
              </ul>
            {% endif %}
            <ul class="dropdown menu" data-dropdown-menu id="primary-menu">
              <li>
                <a href="#">{{ request.user.first_name }} {{ request.user.last_name }}</a>
                <ul class="menu">
                  <li><a href="/profile/{{ request.user.username }}/">Profile</a></li>
                  <li><a href="/profile/{{ request.user.username }}/update_picture/">Update Picture</a></li>
                  <li><a href="/profile/{{ request.user.username }}/update_about/">Update About</a></li>
                  <li><a href="/create_community/">Create Community</a><li>
                  <li><a href="/logout/">Logout</a></li>
                </ul>
              </li>
            </ul>
            {% else %}
            <li>Welcome Guest</li>
            {% endif %}
          </ul>
        </div>
      </div>
    <div class="loader-wrapper">
        <span class="loader"><span class="loader-inner"></span></span>
    </div>
    {% block content %}
    {% endblock %}
    <script src="{% static 'js/vendor.js' %}"></script>
    <script src="{% static 'js/app.min.js' %}"></script>
    <script src="{% static 'js/dropdown.js' %}"></script>
    <script src="{% static 'js/loading.js' %}"></script>
    {% block scripts %}
    {% endblock %}
</body>

</html>
